.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
}

.logo {
  width: 50vw;
}

.contact {
  color: #9A1E37;
  text-decoration: none;
  font-family: 'Satisfy', cursive;
  font-size: 3vw;
}